@media only screen and (max-width: 1169px) {
    .menu ul a {
      color: #000;
      font-size: 11px;
    }
    .math-info {
      padding: 40px 15px;
    }
    .math-wiz {
      margin: 0px 0px;
      line-height: 2.5;
    }
  }
  
  @media only screen and (max-width: 1023px) {
    .menu ul a {
      color: #000;
      font-size: 10px;
    }
  }
  
  @media only screen and (max-width: 991px) {
    #header .wrap-inner {
      display: block;
    }
    #logo {
      justify-content: center;
      padding-bottom: 15px;
    }
    .header-top-num {
      text-align: center;
      margin-right: 1rem;
    }
    .header-right {
      display: flex;
      justify-content: center;
    }
    .header-top-num {
      order: 1;
    }
    .nav-toggle {
      order: -1;
    }
    .nav-toggle {
      display: block;
    }
    .main-menu.active {
      display: block;
    }
    .main-menu {
      position: absolute;
      top: 122px;
      width: 100%;
      height: 0;
      padding: 0;
      overflow: hidden;
      right: 0;
    }
    .main-menu.active {
      height: auto;
    }
    .main-menu li {
      width: 100%;
    }
    .main-menu li a {
      width: 100%;
      padding: 0;
      text-align: center;
      background-color: transparent;
      font-size: 12px;
    }
    .nav-toggle {
      display: block;
    }
    .main-menu.active {
      text-align: center;
      background-color: #f2f2f2;
    }
    .curriculum {
      padding: 40px 0px 40px 0px;
      background-color: #f2f2f2;
    }
    .math-wiz {
      margin: 0px 0px;
      line-height: 2.5;
    }
    .math-info {
      padding: 40px;
    }
    .contactus-form {
      background: #333;
      padding: 40px 0px;
    }
    .footer-contact-information {
      margin: 30px 0px;
    }
    .math-wiz h1 {
        font-size: 22px;
        color: #87162c;
        font-weight: 600;
    }
    .math-arrow li {
        line-height: 1.9;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .blog-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .blog-item {
      width: 33.3333%;
      text-align: center;
      padding: 15px 0px;
    }
    .form-row {
      display: flex;
      flex-wrap: wrap;
      margin: 0px -10px;
      justify-content: center;
    }
    .form-fill {
      margin-bottom: 15px;
      width: 50%;
      padding: 0px 10px;
      display: inline-block;
      width: 100%;
    }
    .col-44 {
      width: 500px;
      display: inline-block;
    }
    .form-col50 {
      width: 100%;
      display: inline-block;
      padding: 10px 15px;
      text-align: center;
    }
    .math-wiz h1 {
      font-size: 16px;
      color: #87162c;
      font-weight: 600;
    }
    .math-arrow li {
      font-size: 16px;
      line-height: 1.9;
    }
    .math-wiz p {
      line-height: 1.9;
      letter-spacing: 1px;
      font-size: 16px;
    }
    .col-66 {
      width: 500px;
      display: inline-block;
      padding: 0px 10px;
    }
    .math-info {
      padding: 40px 15px;
    }
  }
  
  @media only screen and (max-width: 320px) {
    .blog-item {
      width: 50%;
      padding: 10px;
    }
    .form-col50 {
      width: 100%;
      display: inline-block;
      padding: 10px 15px;
    }
    .math-wiz h1 {
      font-size: 18px;
      color: #87162c;
      font-weight: 600;
      line-height: 2;
    }
    .math-wiz h2 {
      font-size: 14px;
      font-weight: 500;
      color: #87162c;
      margin: 10px 0px;
      text-transform: uppercase;
    }
    .math-wiz h1 {
      font-size: 14px;
      color: #87162c;
      font-weight: 600;
    }
    .math-arrow li {
      font-size: 14px;
    }
    .math-wiz p {
      letter-spacing: 1px;
      font-size: 14px;
      line-height: 1.9;
    }
    .math-info {
      padding: 40px 15px;
    }
  }